.box {
    width: 1000px;
    margin: 10px auto;
}

.top {
    width: 800px;
    margin: 20px auto;
    height: 50px;
    background-color: #4472c4;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

img {
    width: 100%;
}